# Игнорировать всё внутри data/raw
data/raw/*
data/processed/*
data/raw_orig/*
data/ubuntu_flat1/*
weights_l
weights_u
weights.zip

# Но оставить саму папку
!data/raw/.gitkeep
!data/raw/.gitkeep

.idea
result_colored_upper.obj